extends index

block news
  br
  each article, i in articles
    div.container.my-3 

      div.card-body
        img.card-img-top(src=articles[i].image, alt="Card image cap")
        if summary==='full text'
          br
          h.card-title #{i+1}. #{articles[i].title}
          p.text Source: #{articles[i].source}
          p.text Author: #{articles[i].author}
          p.text URL: #{articles[i].url}
          p.card-text.text #{articles[i].content}
          br
        else
          br
          h.card-title #{i+1}. #{articles[i].title} (Summary)
          p.text source: #{articles[i].source}
          p.text Author: #{articles[i].author}
          p.text URL: #{articles[i].url}
          p.card-text.text #{articles[i].summary} 
          br
      br
