extends index

block news
  br
  if error 
    div.alert.alert-danger
      h2 Error
      p #{error}
  else
    each article, i in articles
      div.container.my-3 

        div.card-body
          img.card-img-top(src=articles[i].image, alt="Card image cap")
          if summary==='full text'
            br
            h2.card-title #{i+1}. #{articles[i].title}
            p.text Source: #{articles[i].source}
            p.text Author: #{articles[i].author}
            p.card-text.text #{articles[i].content}
            br
            a(href=articles[i].url) SOURCE ARTICLE
          else
            br
            h2.card-title #{i+1}. #{articles[i].title} (Summary)
            p.text Source: #{articles[i].source}
            p.text Author: #{articles[i].author}
            p.card-text.text #{articles[i].summary} 
            br
            a(href=articles[i].url) SOURCE ARTICLE
    br
